# macOS / editor noise
.DS_Store
.vscode/

# LaTeX intermediates
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc

# latexmk / temp
*.dvi
*.xdv
*.ps
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.loa
*.lol
*.maf
*.mtc*
*.nlo
*.nls
*.tmp
*.xdy
_minted-*/